/***********************
        GENERAL
***********************/

body {
    font-family: 'Libre Baskerville', sans-serif;

}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding:0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.3);
  
}

h3 {
    margin: 0 0 1em 0;
}

/***********************
        HEADING
***********************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo { /* logo text */
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
   
    text-shadow: 1px 1px 3px #7395AE;
    
}
h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
    text-shadow: 1px 1px 2  px #7395AE;
}

/***********************
      NAVIGATION
***********************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0  10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

/***********************
        FOOTER
***********************/

footer {
    font-size: 1em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color:#66FCF1;
}



.nav-items{
	color:#66FCF1;
    padding: 10px;
    width: 30px;
    height: 50px;
}
a.nav-items:hover{
    color: #7395AE;
}
/*font size*/
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}
/**
 * Correct list images handled incorrectly in IE 7.
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

/***********************
    PAGE: PORTFOLIO
***********************/

#gallery {
      margin: 0;
      padding: 0;
      list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #ffffff;
}

#gallery li a p{
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: #2a2b2a;
}


/***********************
    PAGE: About
***********************/

.profile-photo {
    display: block;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius: 100%;
    border: 4px;
    border-style:solid;
    border-color:silver;
}

.profile-photo:hover {
    transform: scale(1.15) rotate(-3deg);
}

/***********************
    PAGE: Contact
***********************/

.contact-info {
    list-style:none;
    padding: 0;
    margin: 0;
    color: whitesmoke;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.phone a{
    background-image: url('../Assets/phone.png');
}

.contact-info li.mail a{
    background-image: url('../Assets/mail.png');
}

.contact-info li.discord a{
    background-image: url('../Assets/discord.jpg');
    max-height: 60px;
    max-width: 60px;
}

.contact-info li.deviantart a{
    background-image: url('../Assets/deviantart.png');
    max-height: 60px;
    max-width: 60px;
}


/***********************
        COLORS
***********************/

/* site body */
body {
    background-color: #1A1A1D;
}

a {
    color: #fafafa;
}

header {
    background:#1A1A1D ;
}

a:hover{
    color: #2a2b2a;
}

h1, h2 {
    color:#66FCF1;
}
h3{
    color: gainsboro;
}
p{
    color: whitesmoke;
}

nav a, nav a:visited { 
    color: whitesmoke;
}


nav a.selected, nav a:hover {
    color: #7395AE;
}

