/***********************
        GENERAL
***********************/

body {
    font-family: 'Libre Baskerville', sans-serif;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding:50px 200px 10px 350px;
}

a {
    text-decoration: none;
}

img {
    width: 120px;
    background: #f8f4e3;
    padding:50px 20px 5px 35px;
    height: 100px;
  
}

h3 {
    margin: 0 0 1em 0;
    text-align: center;
}

/***********************
        HEADING
***********************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo { /* logo text */
    text-align: center;
    margin: 0;
}

h1 {
    
    font-family: 'Roboto', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
    text-shadow: 1px 1px 3px #2a2b2a;
    
}
h2 {
    
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
    text-shadow: 1px 1px 2  px #2a2b2a;
}

/***********************
      NAVIGATION
***********************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    
    list-style: none;
    margin: 0  10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

/***********************
        FOOTER
***********************/

footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #706c61;
}


.social-attribute {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

/***********************
    PAGE: SKILLS
***********************/

#gallery {
      margin: 0;
      padding: 0;
      list-style: none;
}

#gallery li {
    float: left;
    width: 0%;
    margin: 1%;
}

#gallery li a p{
    margin: 0;
    padding: 1%;
    font-size: 1.2em;
    text-align: center;
    color: #2a2b2a
}


/***********************
    PAGE: About
***********************/

.profile-photo {
    display: block;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius: 100%;
    border: 4px;
    border-style:solid;
    border-color:#2a2b2a
}

.profile-photo:hover {
    transform: scale(1.15) rotate(-3deg);
}

/***********************
    PAGE: Contact
***********************/

.contact-info {
      list-style:none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.phone a{
    background-image: url('../Assets/call.png');
}

.contact-info li.mail a{
    background-image: url('../Assets/message.png');
}

.contact-info li.discord a{
    background-image: url('../Assets/linkidin.png');
    max-height: 60px;
    max-width: 60px;
}

.contact-info li.deviantart a{
    background-image: url('../Assets/GITHUB.png');
    max-height: 60px;
    max-width: 60px;
}


/***********************
        COLORS
***********************/

/* site body */
body {
    background-color: #f8f4e3;
    color: #706c61;
}

a {
    color: #ff8966;
}

header {
    background: #e5446d;
    border-color: #ff8966;
}

a:hover{
    color: #2a2b2a;
}

h1, h2 {
    color: #2a2b2a;
}

nav { /* nav background mobile */
    background: #e5446d;
}

nav a, nav a:visited { 
    color: #ff8966;
}

nav a.selected, nav a:hover {
    color: #2a2b2a;
}

